.breadcrumb-area {
  padding: 20px 0 0;
  background-color: $footer-color;
  margin-bottom: 30px;
}

.breadcrumb {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-radius: 0;
  color: $brand-primary;
  display: block;
  float: left;
  font-size: 12px;
  margin: 0;
  padding: 0;
  width: 100%;
  ul{
    li{
      display: inline-block;
      a{
        color: #777;
        display: inline-block;
        //font-weight: bold;
        &:hover{
          color: $brand-primary;
        }
      }
      i{
        color:#777;
        margin: 0 10px;
      }
    }
  }
}