.fix {overflow:hidden}
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align:left;
}

.istheweb{
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}