<!-- widget-categories start -->
<aside class="widget widget-categories">
    {% partial 'widgets/categories' %}
</aside>
<!-- widget-categories end -->
<!-- shop-filter start -->
<aside class="widget shop-filter">
    {% partial 'widgets/filter' %}
</aside>
<!-- shop-filter end -->
<!-- filter-by start -->
<aside class="widget filter-by">
    {% partial 'widgets/filterby' %}
</aside>
<!-- filter-by end -->
<!-- widget-tags start -->
<aside class="widget widget-tags">
    {% partial 'widgets/tags' %}
</aside>
<!-- widget-tags start -->
<!-- widget-recent start -->
<aside class="widget top-product-widget">
    {% partial 'widgets/top-rated' title="Recent arrivals" %}
</aside>
<!-- widget-recent end -->