[viewBag]
==
{% set posts = searchResult.posts %}

<h2>{{ 'Search Results for:'|_ }} {{ searchResult.searchTerm }}</h2>

<div class="blog-content">
    {% for post in posts %}
    <article class="blog-item">
        <div class="inner-box">
            <div class="blog-media">
                <a href="{{ post.url|app }}">
                    {% if post.featured_images.count > 0 %}
                    <img src="{{ post.featured_images.first.getPath() }}" class="img-fluid" />
                    {% else %}
                    <img class="media-object" src="http://placehold.it/100x100" class="img-fluid" />
                    {% endif %}
                </a>
            </div>
            <div class="blog-detail">
                <h3><a href="{{ post.url|app }}">{{ post.title }}</a></h3>
                <div class="post-info">
                    <ul>
                        <li><a href=""><i class="fa fa-user">{{ post.user.name }}</i></a> </li>
                        <li><a href=""><i class="fa fa-calendar">{{ post.published_at|date('M d, Y') }}</i></a> </li>
                    </ul>
                </div>
                <hr>
                {% if post.excerpt %}
                <p>{{ post.excerpt }}</p>
                {% else %}
                <div>{{ post.content_html|raw }}</div>
                {% endif %}
                <div class="link-part"> <a href="{{ post.url|app }}">Read More <i class="fa fa-angle-right"></i></a> </div>
            </div>
        </div>
    </article>
    {% else %}
    <div class="no-data">
        <p>{{ noPostsMessage }}</p>
    </div>
    {% endfor %}
</div>

{% partial 'searchResult::pagination' posts=posts %}