<div class="col-xs-12 col-sm-6 cart-checkout-process">
    <div class="wrap">
        {% partial 'Customer::addresses' type='billing' %}

        <div id="location_billing" class="margin-tb-30">
            {% partial 'Customer::address' type='billing' checkout="checkout" checkoutSteps=checkoutSteps %}
        </div>
        {% partial 'Customer::_countries_form' type='billing' %}
    </div>
    <div class="spacer"></div>
    <div class=" delivery wrap {% if Customer.deliveryAddress is empty %} hide {% endif %}">
        {% partial 'Customer::addresses' type='delivery' %}
        <hr />
        <div id="location_delivery" class="margin-tb-30">
            {% set delivery_address = Customer.deliveryAddress %}
            {% partial 'Customer::_address-form' addressType='delivery' address=delivery_address checkoutSteps=checkoutSteps %}
        </div>
        {% partial 'Customer::_countries_form' type='delivery' %}
    </div>
</div>
<div class="col-xs-12 col-sm-6 cart-checkout-process">
    <div class="wrap">
        {% partial 'Customer::_payment_method' %}
    </div>
    <div class="spacer"></div>
    <div class="wrap">
        {% partial 'ShopBasket::_resume-content' %}
        <div class="">
            <form id="completeCheckout">
                <input type="hidden" id="recipientEmail" name="email" value="{{ recipientEmail }}" />
                <button type="button" id="submit" class="button color-hover disabled">{{ 'Comprar ahora'|_ }}</button>
            </form>
        </div>
        {% partial 'ShopBasket::_tpv_form' %}
    </div>
    <div class="spacer"></div>
</div>
{% put scripts %}
<script type="text/javascript">


</script>
{% endput %}

{% put scripts %}
<script type="text/javascript">

    $(document).ready(function(){

        if($('.access-user').hasClass('active')){
            $('.payment-method :input').prop('disabled', true);
            $('.resumen :input').prop('disabled', true);
        }else{

            if($('.payment-method').hasClass('active')){
                $('.resumen :input').prop('disabled', true);
            }
        }

    });
</script>
{% endput %}