<!-- BEGIN HERO -->
<div class="hero">
    <div class="shoutbox container">
        <div class="row">
            <div class="col-md-6">
                <div class="shout-content">
                    <h1 class="shout-title border-line-left"><img src="{{ 'assets/images/logo-blanco.png'|theme }}" alt="IsTheWeb" /> </h1>
                    <h2 class="shout-subtitle">{{ 'Simplemente Internet'|_ }}</h2>
                    <p>
                        {{ 'Soluciones personalizadas simples, elegantes y eficaces a través de nuestra plataforma'|_ }}
                    </p>
                    <p class="text-emphasize">{{ 'Elige uno de nuestros planes y nuestros asesores se pondrán en contacto para dar una solución real a tus necesidades'|_ }}</p>

                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><a href="#app-info" class="button color white-hover scroll-section">{{ 'Saber más'|_ }}</a></li>
                        <li class="list-inline-item"><a href="#price-table" class="button scroll-section">{{ 'Ver planes'|_ }}</a></li>
                    </ul>
                </div><!-- end .shout-content -->
            </div>
            <div class="col-md-4">

                <div class="shout-carousel owl-carousel">
                    <div><img src="{{ 'assets/images/hero-carousel/img1.png'|theme }}" alt="" /></div>
                    <div><img src="{{ 'assets/images/hero-carousel/img2.png'|theme }}" alt="" /></div>
                    <div><img src="{{ 'assets/images/hero-carousel/img3.png'|theme }}" alt="" /></div>

                </div>
            </div>
        </div>
    </div><!-- end .shoutbox -->
</div>
<!-- END HERO -->