<div class="sin-list float-left">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <span>({{ countsByStar[4] }})</span>
</div>
<div class="sin-list float-left">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa fa-star-o"></i>
    <span>({{ countsByStar[3] }})</span>
</div>
<div class="sin-list float-left">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa fa-star-o"></i>
    <i class="fa fa fa-star-o"></i>
    <span>({{ countsByStar[2] }})</span>
</div>
<div class="sin-list float-left">
    <i class="fa fa fa-star"></i>
    <i class="fa fa fa-star"></i>
    <i class="fa fa fa-star-o"></i>
    <i class="fa fa fa-star-o"></i>
    <i class="fa fa fa-star-o"></i>
    <span>({{ countsByStar[1] }})</span>
</div>
<div class="sin-list float-left">
    <i class="fa fa fa-star"></i>
    <i class="fa fa fa-star-o"></i>
    <i class="fa fa fa-star-o"></i>
    <i class="fa fa fa-star-o"></i>
    <i class="fa fa fa-star-o"></i>
    <span>({{ countsByStar[0] }})</span>
</div>