<!-- header-top-area start -->
<div class="header-top-area hidden-xs">
    {% partial 'shop/header-top-area' %}
</div>
<!-- header-top-area end -->

<!-- header-mid-area start -->
<div class="header-mid-area">
    {% partial 'shop/header-mid-area' %}
</div>
<!-- header-mid-area end -->

<!-- mainmenu-area start -->
<div class="mainmenu-area">
    {% partial 'shop/nav' %}
</div>
<!-- mainmenu-area end -->

<!-- mobile-menu-area start -->
<div class="mobile-menu-area">
    {% partial 'shop/mobile-menu' %}
</div>
<!-- mobile-menu-area end -->