<!-- widget-categories start -->
<div class="row">
    <div class="col-md-12 col-sm-6 col-xs-12">
        {% partial 'widgets/categories' %}
    </div>
    <div class="col-md-12 col-sm-6 col-xs-12">
        {% partial 'widgets/filter' %}
    </div>
    <div class="col-md-12 col-sm-6 col-xs-12">
        {% partial 'widgets/filterby' %}
    </div>
    <div class="col-md-12 col-sm-6 col-xs-12">
        <div class="widget-tags">
            {% partial 'widgets/tags' %}
        </div>
    </div>
    <div class="col-md-12 col-sm-6 col-xs-12">
        {% partial 'widgets/top-rated' title="Recent arrivals" %}
    </div>
</div>
