<div class="sin-sidebar">
    <h3 class="sidebar-title">Tags</h3>
    <div class="sidebar-wrapper-tags">
        <ul>
            <li><a href="#">asian</a></li>
            <li><a href="#">brown</a></li>
            <li><a href="#">euro</a></li>
            <li><a href="#">fashion</a></li>
            <li><a href="#">france</a></li>
            <li><a href="#">hat</a></li>
            <li><a href="#">travel</a></li>
            <li><a href="#">white</a></li>
            <li><a href="#">t-shirt</a></li>
            <li><a href="#">teen</a></li>
        </ul>
    </div>

</div>
