

[viewBag]
==

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-10">
            <div class="logo">
                <a href="{{ '/'|app }}"><img src="{{ 'assets/images/logo.png'|theme }}" alt="IsTheWeb" height="50" /></a>
            </div>
        </div>
        <div class="col-xs-12 col-md-2">
            <div class="languages">
                {# component 'localePicker' #}
                {{ form_open() }}
                <select name="locale" data-request="onSwitchLocale" class="form-control">
                    {% for code, name in locales %}
                    <option value="{{ code }}" {{ code == activeLocale ? 'selected' }}><i class="flag-icon flag-icon-{{ code }}"></i> {{ code }}</option>
                    {% endfor %}
                </select>
                {{ form_close() }}
            </div>
        </div>
    </div>
</div>
