<div class="single-cv-details">
    <div class="single-cv-content cv-work-experience">
        <h5 class="section-title"><i class="fa fa-briefcase"></i>{{ 'Experiencia'|_ }}</h5>

        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h6 class="job-title">Full Stack Developer</h6>
                        <div class="time">{{ '01-May-2015'|date('M Y') }} - {{ 'Actualmente'|_ }}</div>
                </div><!--//upper-row-->
                <div class="company">{{ 'Freelance'|_ }}</div>
            </div><!--//meta-->
            <div class="details">
                {% content 'cv/now' %}
            </div><!--//details-->
        </div><!--//item-->

        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h6 class="job-title">Full Stack Developer</h6>
                    <div class="time">{{ '01-01-2015'|date('M Y') }} - {{ '01-04-2015'|date('M Y') }}</div>
                </div><!--//upper-row-->
                <div class="company">La Claqueta PC</div>
            </div><!--//meta-->
            <div class="details">
                {% content 'cv/claqueta' %}
            </div><!--//details-->
        </div><!--//item-->

        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h6 class="job-title">Backend / Front-End developer</h6>
                    <div class="time">{{ '01-01-2007'|date('M Y') }} - {{ '01-04-2009'|date('M Y') }}</div>
                </div><!--//upper-row-->
                <div class="company">Soluciones C2</div>
            </div><!--//meta-->
            <div class="details">
                {% content 'cv/soluciones' %}
            </div><!--//details-->
        </div><!--//item-->

        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h6 class="job-title">Full stack Developer</h6>
                    <div class="time">{{ '01-02-2005'|date('M Y') }} - {{ '01-12-2006'|date('M Y') }}</div>
                </div><!--//upper-row-->
                <div class="company">Factor Consultores S.A.</div>
            </div><!--//meta-->
            <div class="details">
                {% content 'cv/factor' %}
            </div><!--//details-->
        </div><!--//item-->

        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h6 class="job-title">Full Stack Developer</h6>
                    <div class="time">{{ '01-11-2001'|date('M Y') }} - {{ '01-08-2003'|date('M Y') }}</div>
                </div><!--//upper-row-->
                <div class="company">LZ Producciones</div>
            </div><!--//meta-->
            <div class="details">

            </div><!--//details-->
        </div><!--//item-->

        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h6 class="job-title">CEO and Front-End Developer</h6>
                    <div class="time">{{ '01-07-2000'|date('M Y') }} - {{ '01-10-2001'|date('M Y') }}</div>
                </div><!--//upper-row-->
                <div class="company">Imagenarte</div>
            </div><!--//meta-->
            <div class="details">
                {% content 'cv/imagen' %}
            </div><!--//details-->
        </div><!--//item-->

        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h6 class="job-title">Back-End Developer</h6>
                    <div class="time">{{ '01-05-1998'|date('M Y') }} - {{ '01-8-2000'|date('M Y') }}</div>
                </div><!--//upper-row-->
                <div class="company">Centrocom</div>
            </div><!--//meta-->
            <div class="details">
                {% content 'cv/centrocom' %}
            </div><!--//details-->
        </div><!--//item-->
    </div>

    <div class="single-cv-content cv-projects">
        <h5 class="section-title"><i class="fa fa-archive"></i>{{ 'Proyectos'|_ }}</h5>
        <div class="intro">{% content 'cv/projects-intro' %}</div>
        <div class="item">
            <span class="project-title"><a href="http://malabau.com" target="_blank">Malabau</a> </span>
            <span class="project-tagline">{% content 'cv/project-1' %}</span>
        </div>
        <div class="item">
            <span class="project-title"><a href="http://materialesparatocados.com" target="_blank">Materiales para tocados</a></span>
            <span class="project-tagline">{% content 'cv/project-2' %}</span>
        </div>
        <div class="item">
            <span class="project-title"><a href="http://tendenciasglobales.com" target="_blank">Tendencias Globales</a></span>
            <span class="project-tagline">{% content 'cv/project-3' %}</span>
        </div>
        <div class="item">
            <span class="project-title"><a href="">Tendencias Globales</a></span>
            <span class="project-tagline">{% content 'cv/project-4' %}</span>
        </div>

    </div>

    <div class="single-cv-content cv-skills">
        <h5 class="section-title"><i class="fa fa-rocket"></i> {{ 'Conocimientos y Niveles'|_ }} </h5>
        <div class="skillset">
            <div class="item">
                <h6 class="level-title">PHP / Laravel / Symfony</h6>
                <div class="level-bar">
                    <div class="level-bar-inner" data-level="95%"></div>
                </div>
            </div>
            <div class="item">
                <h6 class="level-title">Java / Android</h6>
                <div class="level-bar">
                    <div class="level-bar-inner" data-level="75%"></div>
                </div>
            </div>
            <div class="item">
                <h6 class="level-title">C++ / Objective-C</h6>
                <div class="level-bar">
                    <div class="level-bar-inner" data-level="70%"></div>
                </div>
            </div>
            <div class="item">
                <h6 class="level-title">MySql / PostgresSql / PostgresSql / MongoDB</h6>
                <div class="level-bar">
                    <div class="level-bar-inner" data-level="90%"></div>
                </div>
            </div>
            <div class="item">
                <h6 class="level-title">JavaScript / JQuery / AngularJS</h6>
                <div class="level-bar">
                    <div class="level-bar-inner" data-level="95%"></div>
                </div>
            </div>
            <div class="item">
                <h6 class="level-title">HTML5 / CSS3 / Less / Sass / Jade</h6>
                <div class="level-bar">
                    <div class="level-bar-inner" data-level="95%"></div>
                </div>
            </div>
            <div class="item">
                <h6 class="level-title">Composer / Npm / Bower</h6>
                <div class="level-bar">
                    <div class="level-bar-inner" data-level="85%"></div>
                </div>
            </div>
            <div class="item">
                <h6 class="level-title">Grunt / Gulp</h6>
                <div class="level-bar">
                    <div class="level-bar-inner" data-level="75%"></div>
                </div>
            </div>
            <div class="item">
                <h6 class="level-title">Git / Svn </h6>
                <div class="level-bar">
                    <div class="level-bar-inner" data-level="85%"></div>
                </div>
            </div>

        </div>
    </div>

    <div class="single-cv-content personnal-info">
        <h5 class="section-title"><i class="fa fa-users"></i> {{ 'Habilidades sociales'|_ }} </h5>
        <div class="row">
            <div class="single-cv-content personal-info">
                {% content 'cv/social-skills' %}
            </div>
        </div>

    </div>

</div>

{% put scripts %}
<script type="text/javascript">
    $('.level-bar-inner').css('width', '0');

    $(window).on('load', function() {
        $('.level-bar-inner').each(function() {
            var itemWidth = $(this).data('level');
            $(this).animate({
                width: itemWidth
            }, 800);
        });
    });
</script>
{% endput %}