<div class="sidebar-area fix">
    <div class="single-sidebar-widget">
        <div class="sidebar-content">
            <div class="my-photo">
                <a href="#"><img class="img-thumbnail" src="{{ 'assets/images/me.jpg'|theme }}" alt="My Image" /></a>
            </div>
            <h5 class="cv-title">Andrés Rangel Torres</h5>
            <h6>Full Stack Developer</h6>
            <ul>
                <li><i class="fa fa-phone"></i> +34 955 71 26 46</li>
                <li><i class="fa fa-mobile-phone"></i> +34 647 58 36 30</li>
                <li><i class="fa fa-envelope"></i> <a href="mailto:soporte@istheweb.com">soporte@istheweb.com</a></li>
                <li><i class="fa fa-flag"></i> {{ 'Español'|_ }}</li>
                <li><i class="fa fa-calendar"></i> {{ '28-04-1965'|date('d M, Y') }}</li>
            </ul>
        </div><!-- /.sidebar-content -->
    </div><!-- /.single-sidebar-widget -->

    <div class="single-sidebar-widget">
        <h6 class="widget-title">{{ 'Educación'|_ }}</h6>
        <div class="sidebar-content">
            <p>
                <span><strong class="title">{{ 'Ciencias de la Comunicación'|_ }}</strong></span><br>
                <span class="place">{{ 'Universidad de Sevilla'|_ }}</span><br>
                <span class="date">{{ '01-09-1994'|date('M, Y') }} - {{ '01-09-1998'|date('M, Y') }}</span>
            </p>
        </div>
    </div>

    <div class="single-sidebar-widget">
        <h6 class="widget-title">{{ 'Idiomas'|_ }}</h6>
        <div class="sidebar-content">
            <ul>
                <li><i class="flag-icon flag-icon-es"></i> {{ 'Español'|_ }} <span class="lang-desc">({{ 'Nativo'|_ }})</span></li>
                <li><i class="flag-icon flag-icon-gb"></i> {{ 'Inglés'|_ }} <span class="lang-desc">({{ 'Profesional'|_ }})</span></li>
            </ul>
        </div>
    </div>

    <div class="single-sidebar-widget">
        <h6 class="widget-title">{{ 'Tecnología'|_ }}</h6>
        <div class="sidebar-content">
            <div class="social-links-area tech">
                <div class="single-icon">
                    <a href="#" data-toggle="tooltip" data-original-title="PHP" data-placement="bottom">
                        <i class="icon-php-alt fa-3x"></i>
                        <!--<p>PHP</p>-->
                    </a>
                </div><!-- /.single-icon -->
                <div class="single-icon">
                    <a href="#" data-toggle="tooltip" data-original-title="Laravel" data-placement="bottom">
                        <i class="icon-laravel fa-3x"></i>
                        <!--<p>Laravel</p>-->
                    </a>
                </div><!-- /.single-icon -->
                <div class="single-icon">
                    <a href="#" data-toggle="tooltip" data-original-title="Symfony" data-placement="bottom">
                        <i class="icon-symfony fa-3x"></i>
                        <!--<p>Symfony</p>-->
                    </a>
                </div><!-- /.single-icon -->
                <div class="single-icon">
                    <a href="#" data-toggle="tooltip" data-original-title="Java" data-placement="bottom">
                        <i class="icon-java fa-3x"></i>
                        <!--<p>Java</p>-->
                    </a>
                </div><!-- /.single-icon -->
                <div class="single-icon">
                    <a href="#" data-toggle="tooltip" data-original-title="C++" data-placement="bottom">
                        <i class="icon-cplusplus fa-3x"></i>
                        <!--<p>C++</p>-->
                    </a>
                </div><!-- /.single-icon -->
                <div class="single-icon">
                    <a href="#" data-toggle="tooltip" data-original-title="Obj-C" data-placement="bottom">
                        <i class="icon-objc fa-3x"></i>
                        <!--<p>Obj-C</p>-->
                    </a>
                </div><!-- /.single-icon -->
                <div class="single-icon">
                    <a href="#" data-toggle="tooltip" data-original-title="Android" data-placement="bottom">
                        <i class="fa fa-android fa-3x"></i>
                        <!--<p>Android</p>-->
                    </a>
                </div><!-- /.single-icon -->
                <div class="single-icon">
                    <a href="#" data-toggle="tooltip" data-original-title="MySql" data-placement="bottom">
                        <i class="icon-mysql-alt fa-3x"></i>
                        <!--<p>MySql</p>-->
                    </a>
                </div><!-- /.single-icon -->
                <div class="single-icon">
                    <a href="#" data-toggle="tooltip" data-original-title="PostGreSQL" data-placement="bottom">
                        <i class="icon-postgres fa-3x"></i>
                        <!--<p>PostGres</p>-->
                    </a>
                </div><!-- /.single-icon -->
                <div class="single-icon">
                    <a href="#" data-toggle="tooltip" data-original-title="MongoDB" data-placement="bottom">
                        <i class="icon-mongodb fa-3x"></i>
                        <!--<p>MongoDB</p>-->
                    </a>
                </div><!-- /.single-icon -->
                <div class="single-icon">
                    <a href="#" data-toggle="tooltip" data-original-title="HTML5" data-placement="bottom">
                        <i class="fa fa-html5 fa-3x"></i>
                        <!--<p>HTML5</p>-->
                    </a>
                </div><!-- /.single-icon -->
                <div class="single-icon">
                    <a href="#" data-toggle="tooltip" data-original-title="CSS3" data-placement="bottom">
                        <i class="fa fa-css3 fa-3x"></i>
                        <!--<p>CSS3</p>-->
                    </a>
                </div><!-- /.single-icon -->
                <div class="single-icon">
                    <a href="#" data-toggle="tooltip" data-original-title="JavaScript" data-placement="bottom">
                        <i class="icon-javascript-alt fa-3x"></i>
                        <!--<p>JavaScript</p>-->
                    </a>
                </div><!-- /.single-icon -->
                <div class="single-icon">
                    <a href="#" data-toggle="tooltip" data-original-title="Git" data-placement="bottom">
                        <i class="fa fa-git fa-3x"></i>
                        <!--<p>Git</p>-->
                    </a>
                </div><!-- /.single-icon -->
                <div class="single-icon">
                    <a href="#" data-toggle="tooltip" data-original-title="Github" data-placement="bottom">
                        <i class="fa fa-github-square fa-3x"></i>
                        <!--<p>GitHub</p>-->
                    </a>
                </div><!-- /.single-icon -->
            </div>
        </div>
    </div>

    <div class="single-sidebar-widget">
        <h6 class="widget-title">{{ 'CMS / Comercio Electónico'|_ }}</h6>
        <div class="sidebar-content">
            <div class="social-links-area cms">
                <div class="single-icon">
                    <a href="#" data-toggle="tooltip" data-original-title="OctoberCMS" data-placement="bottom">
                        <img src="{{ 'assets/images/cms/october.png'|theme }}" alt="OctoberCMS"/>
                        <!--<p>OctoberCMS</p>-->
                    </a>
                </div><!-- /.single-icon -->
                <div class="single-icon">
                    <a href="#" data-toggle="tooltip" data-original-title="Wordpress" data-placement="bottom">
                        <img src="{{ 'assets/images/cms/wordpress.png'|theme }}" alt="Wordpress"/>
                        <!--<p>Wordpress</p>-->
                    </a>
                </div><!-- /.single-icon -->
                <div class="single-icon">
                    <a href="#" data-toggle="tooltip" data-original-title="Liferay" data-placement="bottom">
                        <img src="{{ 'assets/images/cms/liferay.png'|theme }}" alt="Liferay"/>
                        <!--<p>Liferay</p>-->
                    </a>
                </div><!-- /.single-icon -->
                <div class="single-icon">
                    <a href="#" data-toggle="tooltip" data-original-title="Alfresco" data-placement="bottom">
                        <img src="{{ 'assets/images/cms/alfresco.png'|theme }}" alt="Alfresco"/>
                        <!--<p>Alfresco</p>-->
                    </a>
                </div><!-- /.single-icon -->
                <div class="single-icon">
                    <a href="#" data-toggle="tooltip" data-original-title="Prestashop" data-placement="bottom">
                        <img src="{{ 'assets/images/cms/prestashop.png'|theme }}" alt="Prestashop"/>
                        <!--<p>Prestashop</p>-->
                    </a>
                </div><!-- /.single-icon -->
                <div class="single-icon">
                    <a href="#" data-toggle="tooltip" data-original-title="Opencart" data-placement="bottom">
                        <img src="{{ 'assets/images/cms/opencart.png'|theme }}" alt="Opencart"/>
                        <!--<p>Opencart</p>-->
                    </a>
                </div><!-- /.single-icon -->
            </div>
        </div>
    </div>

    <div class="single-sidebar-widget">
        <h6 class="widget-title">{{ 'Trabajos realizados para'|_ }}</h6>
        <div class="social-links-area business">
            <div class="single-icon">
                <a href="#" data-toggle="tooltip" data-original-title="Abengoa" data-placement="bottom">
                    <img src="{{ 'assets/images/empresas/abengoa.png'|theme }}" alt="Abengoa" />
                </a>
            </div>
            <div class="single-icon">
                <a href="#" data-toggle="tooltip" data-original-title="Biblioteca Virtual Andalucía" data-placement="bottom">
                    <img src="{{ 'assets/images/empresas/bva.png'|theme }}" alt="Biblioteca Virtual Andalucía" />
                </a>
            </div>
            <div class="single-icon">
                <a href="#" data-toggle="tooltip" data-original-title="El Corte Ingles" data-placement="bottom">
                    <img src="{{ 'assets/images/empresas/corteingles.png'|theme }}" alt="El Corte Inglés" />
                </a>
            </div>
            <div class="single-icon">
                <a href="#" data-toggle="tooltip" data-original-title="Diputación Sevilla" data-placement="bottom">
                    <img src="{{ 'assets/images/empresas/diputacion.png'|theme }}" alt="Diputación Sevilla" />
                </a>
            </div>
            <div class="single-icon">
                <a href="#" data-toggle="tooltip" data-original-title="Endesa" data-placement="bottom">
                    <img src="{{ 'assets/images/empresas/endesa.png'|theme }}" alt="Endesa" />
                </a>
            </div>
            <div class="single-icon">
                <a href="#" data-toggle="tooltip" data-original-title="Heineken" data-placement="bottom">
                    <img src="{{ 'assets/images/empresas/heineken.png'|theme }}" alt="Heineken" />
                </a>
            </div>
            <div class="single-icon">
                <a href="#" data-toggle="tooltip" data-original-title="Junta Andalucía" data-placement="bottom">
                    <img src="{{ 'assets/images/empresas/junta.png'|theme }}" alt="Junta Andalucía" />
                </a>
            </div>
            <div class="single-icon">
                <a href="#" data-toggle="tooltip" data-original-title="Universidad Sevilla" data-placement="bottom">
                    <img src="{{ 'assets/images/empresas/us.png'|theme }}" alt="Universidad Sevilla" />
                </a>
            </div>
        </div>
    </div>

</div>