<!-- BEGIN APP INFO -->

<div class="container">

    <div class="row">
        <div class="col-md-12 col-lg-12 text-center section-header wow fadeIn" data-wow-delay="0.2s">
            <h2 class="section-title">{{ 'Clean &amp; Simple Landing Page For Your App'|_ }}</h2>
            <p class="text-padding">
                {{ 'Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator. In publishing and graphic design, lorem ipsum is a filler text commonly used to demonstrate the graphic elements.'|_ }}
            </p>
        </div>
    </div> <!-- end section-header -->
    <div class="row info-wrap">
        <div class="col-md-4 col-sm-4 info text-center">
            <i class="info-icon ti-settings wow bounceIn" data-wow-delay="0.2s"></i>
            <h4 class="info-title border-line wow fadeInDown">{{ 'Fully Customizable'|_ }}</h4>
            <p class="wow fadeInUp">
                {{ 'Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.'|_ }}
            </p>
        </div>
        <div class="col-md-4 col-sm-4 info text-center">
            <i class="info-icon ti-desktop wow bounceIn" data-wow-delay="0.5s"></i>
            <h4 class="info-title border-line wow fadeInDown">{{ 'Responsive'|_ }}</h4>
            <p class="wow fadeInUp">
                {{ 'Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.'|_ }}
            </p>
        </div>
        <div class="col-md-4 col-sm-4 info text-center">
            <i class="info-icon ti-pencil-alt wow bounceIn" data-wow-delay="0.7s"></i>
            <h4 class="info-title border-line wow fadeInDown">{{ 'Simple &amp; Clean'|_ }}</h4>
            <p class="wow fadeInUp">
                {{ 'Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.'|_ }}
            </p>
        </div>
    </div> <!-- end info-wrap -->
</div>

<!-- END APP INFO -->