<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="describe-content wow fadeInLeft" data-wow-delay=".2s">
                <h2 class="section-title border-line-left">{{ 'Describe Your App'|_ }}</h2>
                <p class="section-subtitle">{{ 'This is is best way to describe your app...'|_ }}</p>
                {% content 'index/describe' %}
            </div><!-- describe-content -->
        </div>
        <div class="col-md-6 text-center">
            <img class="describe-image wow fadeInRight" src="{{ 'assets/images/describe-img.png'|theme }}" alt="" data-wow-delay=".2s">
        </div>
    </div>
</div>