<div class="container">
    <div class="row">
        <div class="col-md-6 text-center">
            <img class="features-image wow fadeIn" src="{{ 'assets/images/features-img.png'|theme }}" alt="" data-wow-duration="1s">
        </div>

        <div class="col-md-6">
            <div class="features-content wow fadeIn">
                <h2 class="section-title border-line-left">{{ 'Awesome Features'|_ }}</h2>
                <p class="section-subtitle">{{'Appa is simple, effective and easy to use...'|_ }}</p>

                <ul class="feature-list list-unstyled">
                    <li class="feature wow fadeInRight" data-wow-delay="0.1s">
                        <div class="media">
                            <div class="media-left ">
                                <i class="feature-icon ti-palette"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading feature-title">Modern &amp; Beautiful Design</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </li>
                    <li class="feature wow fadeInRight" data-wow-delay="0.2s">
                        <div class="media">
                            <div class="media-left">
                                <i class="feature-icon ti-ruler-pencil"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading feature-title">Easily Customizable</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </li>
                    <li class="feature wow fadeInRight" data-wow-delay="0.3s">
                        <div class="media">
                            <div class="media-left ">
                                <i class="feature-icon ti-heart"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading feature-title">Developer Friendly</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </li>
                    <li class="feature no-margin-bottom wow fadeInRight" data-wow-delay="0.4s">
                        <div class="media">
                            <div class="media-left ">
                                <i class="feature-icon ti-write"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading feature-title">Clean and Simple</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>