<div class="container">
    <div class="row">
        <div class="col-md-12 text-center section-header wow fadeIn">
            <h2 class="section-title">More Features</h2>
            <p class="section-subtitle border-line">
                Check out other hidden features...
            </p>
        </div> <!-- end .section-header -->
        <div class="feature-section">
            <div class="feature col-md-6 col-sm-6 wow fadeInDown" data-wow-delay="0.2s">
                <div class="media">
                    <div class="media-left"><i class="more-feature-icon ti-comments"></i></div>
                    <div class="media-body feature-content">
                        <h3 class="more-feature-title">Live Chat Support</h3>
                        <p>
                            Nam quis pretium risus, at convallis odio. Praesent pellentesque laoreet facilisis. Nulla purus ipsum, aliquam nec dictum et, dignissim sed est. Curabitur dignissim, dui non feugiat aliquet lacus neque.
                        </p>
                    </div>
                </div>
            </div>

            <div class="feature col-md-6 col-sm-6 wow fadeInDown" data-wow-delay="0.3s">
                <div class="media">
                    <div class="media-left"><i class="more-feature-icon ti-alarm-clock"></i></div>
                    <div class="media-body feature-content">
                        <h3 class="more-feature-title">Push Notification</h3>
                        <p>
                            Nam quis pretium risus, at convallis odio. Praesent pellentesque laoreet facilisis. Nulla purus ipsum, aliquam nec dictum et, dignissim sed est. Curabitur dignissim, dui non feugiat aliquet lacus neque.
                        </p>
                    </div>
                </div>
            </div>

            <div class="feature col-md-6 col-sm-6 no-margin-bottom wow fadeInDown" data-wow-delay="0.4s">
                <div class="media">
                    <div class="media-left"><i class="more-feature-icon ti-desktop"></i></div>
                    <div class="media-body feature-content">
                        <h3 class="more-feature-title">Retina Ready UI</h3>
                        <p>
                            Nam quis pretium risus, at convallis odio. Praesent pellentesque laoreet facilisis. Nulla purus ipsum, aliquam nec dictum et, dignissim sed est. Curabitur dignissim, dui non feugiat aliquet lacus neque.
                        </p>
                    </div>
                </div>
            </div>

            <div class="feature col-md-6 col-sm-6 no-margin-bottom wow fadeInDown" data-wow-delay="0.5s">
                <div class="media">
                    <div class="media-left"><i class="more-feature-icon ti-ruler-pencil"></i></div>
                    <div class="media-body feature-content">
                        <h3 class="more-feature-title">Easy To Customize</h3>
                        <p>
                            Nam quis pretium risus, at convallis odio. Praesent pellentesque laoreet facilisis. Nulla purus ipsum, aliquam nec dictum et, dignissim sed est. Curabitur dignissim, dui non feugiat aliquet lacus neque.
                        </p>
                    </div>
                </div>
            </div>

        </div> <!-- end feature-section -->
    </div>
</div>