<div class="container">
    <div class="row">
        <div class="col-md-12 text-center section-header wow fadeInDown">
            <h2 class="section-title">Plans &amp; Pricing</h2>
            <p class="text-padding section-subtitle border-line">
                Unlock the best deal...
            </p>
        </div> <!-- end .section-header -->
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-4 col-sm-4 table-wrap">
                <div class="table text-center wow fadeIn" data-wow-delay="0.2s" data-wow-duration="1.5s">
                    <div class="table-head">
                        <h4 class="table-title">Starter</h4>
                        <div class="price-box">
                            <p class="price"><sup>$</sup><span class="amount">49</span><sup>.00</sup></p>
                            <p>per month</p>
                        </div>
                    </div>
                    <div class="table-details">
                        <ul class="list-unstyled">
                            <li>Full Access</li>
                            <li>Documentation</li>
                            <li>24/7 Support</li>
                            <li>Free Updates</li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-main">Get Started</a>
                </div> <!-- end table -->
            </div> <!-- end table-wrap -->

            <div class="col-md-4 col-sm-4 table-wrap">
                <div class="table best-price text-center wow fadeIn" data-wow-delay="0.5s" data-wow-duration="1.5s">
                    <div class="table-head">
                        <h4 class="table-title">Standard</h4>
                        <div class="price-box">
                            <p class="price"><sup>$</sup><span class="amount">79</span><sup>.00</sup></p>
                            <p>per month</p>
                        </div>
                    </div>
                    <div class="table-details">
                        <ul class="list-unstyled">
                            <li>Full Access</li>
                            <li>Documentation</li>
                            <li>24/7 Support</li>
                            <li>Free Updates</li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-main active">Get Started</a>
                </div> <!-- end table -->
            </div> <!-- end table-wrap -->

            <div class="col-md-4 col-sm-4 table-wrap">
                <div class="table text-center wow fadeIn" data-wow-delay="0.8s" data-wow-duration="1.5s">
                    <div class="table-head">
                        <h4 class="table-title">Ultimate</h4>
                        <div class="price-box">
                            <p class="price"><sup>$</sup><span class="amount">99</span><sup>.00</sup></p>
                            <p>per month</p>
                        </div>
                    </div>
                    <div class="table-details">
                        <ul class="list-unstyled">
                            <li>Full Access</li>
                            <li>Documentation</li>
                            <li>24/7 Support</li>
                            <li>Free Updates</li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-main">Get Started</a>
                </div> <!-- end table -->
            </div> <!-- end table-wrap -->

        </div>
    </div>
</div>