<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center section-header wow fadeInDown">
            <i class="review-icon ti-quote-left color-purple"></i>
            <h2 class="section-title">Appa Reviews</h2>
            <p class="text-padding section-subtitle border-line">
                Good people says good talk...
            </p>
        </div> <!-- end .section-header -->
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="review-carousel owl-carousel wow fadeIn" data-wow-delay="0.2s">
                <div class="item text-center">
                    <img class="img-review" src="{{ 'assets/images/member1.jpg'|theme }}" alt="">
                    <h4 class="review-name">Mick Roberts</h4>
                    <h5 class="review-designation">CEO, Enalanda Inc.</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis architecto aliquid distinctio facilis nulla commodi laboriosam, dolor saepe quos ullam nisi magnam quia facere, suscipit eum a quidem odio. Velit.
                    </p>
                </div><!-- end .item -->

                <div class="item text-center">
                    <img class="img-review" src="{{ 'assets/images/member2.jpg'|theme }}" alt="">
                    <h4 class="review-name">Janna Morgan</h4>
                    <h5 class="review-designation">CTO, Tech Boombustic</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis architecto aliquid distinctio facilis nulla commodi laboriosam, dolor saepe quos ullam nisi magnam quia facere, suscipit eum a quidem odio. Velit.
                    </p>
                </div><!-- end .item -->

                <div class="item text-center">
                    <img class="img-review" src="{{ 'assets/images/member3.jpg'|theme }}" alt="">
                    <h4 class="review-name">John Doe</h4>
                    <h5 class="review-designation">Founder, Alpha Hextech</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis architecto aliquid distinctio facilis nulla commodi laboriosam, dolor saepe quos ullam nisi magnam quia facere, suscipit eum a quidem odio. Velit.
                    </p>
                </div><!-- end .item -->

            </div><!-- end .review-carousel -->
        </div>
    </div>
</div>