<div class="container">
    <div class="row">
        <div class="col-md-12 text-center section-header wow fadeInDown">
            <h2 class="section-title">Appa Cool Screenshots</h2>
            <p class="section-subtitle border-line">
                Our screens are cool and awesome...
            </p>
        </div> <!-- end .section-header -->
        <div class="screenshot-carousel owl-carousel col-md-12 wow fadeIn" data-wow-delay="0.2s">
            <div class="item"><a href="{{ 'assets/images/screenshots/screenshot0.jpg'|theme }}"><img src="{{ 'assets/images/screenshots/screenshot0.jpg'|theme }}" alt=""></a></div>
            <div class="item"><a href="{{ 'assets/images/screenshots/screenshot1.jpg'|theme }}"><img src="{{ 'assets/images/screenshots/screenshot1.jpg'|theme }}" alt=""></a></div>
            <div class="item"><a href="{{ 'assets/images/screenshots/screenshot2.jpg'|theme }}"><img src="{{ 'assets/images/screenshots/screenshot2.jpg'|theme }}" alt=""></a></div>
            <div class="item"><a href="{{ 'assets/images/screenshots/screenshot3.jpg'|theme }}"><img src="{{ 'assets/images/screenshots/screenshot3.jpg'|theme }}" alt=""></a></div>
            <div class="item"><a href="{{ 'assets/images/screenshots/screenshot4.jpg'|theme }}"><img src="{{ 'assets/images/screenshots/screenshot4.jpg'|theme }}" alt=""></a></div>
        </div>
    </div>
</div>